body{

    background-color: #19232D;
    color: #FFFFFF;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

footer{
    background-color: #19232D;
    color: #FFFFFF;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.asda{
    margin-top: 120px;
   }