.deals{
    position: absolute;
    width: 100%;
    height: 641.31px;
    left: 0px;
    top: 400px;

}

.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
    margin-left: 330px;
    margin-top: 200px;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  

.stats{
    position: absolute;
    width: 100%;
    height: 322.17px;
    left: 0px;
    top: 1100px;
    background-color: #161f29;
}

.stats_container{
    position: absolute;
    width: 1140px;
    height: 112.17px;
    left: 390px;
    top: 120px;
}

.stats-item{
    position: absolute;
    width: 255px;
    height: 82.17px;
    margin-left: 15px;
    top: 0px;

}

.stats-item1{
    position: absolute;
    width: 255px;
    height: 82.17px;
    margin-left: 300px;
    top: 0px;

}

.stats-item2{
    position: absolute;
    width: 255px;
    height: 82.17px;
    left: 585px;
    top: 0px;

}

.stats-item3{
    position: absolute;
    width: 255px;
    height: 82.17px;
    left: 870px;
    top: 0px;

}

.number{
    position: absolute;
    font-size: 50px;
    margin: 0;
    width:100%;
    height: 61.58px;
    top: -10px;
    text-align: center;
}

.stats-text{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}

